.content

  = render "shared/side_bar"

  .content__main
    .content__main-header
      .content__main-header__group-box
        .content__main-header__group-box__group-name
          group
        .content__main-header__group-box__group-members
          members
      .content__main-header__edit
        = link_to edit_group_path(current_user), class: "contents__btn" do
          Edit

    .content__main__message
      .content__main__message-box
        .content__main__message-box__user-name
          user
          .content__main__message-box__user-name__create-at
            created_at
        .content__main__message-box__message
          messege

    .content__main__form
      .content__main__form-box
        %input{type: "text",placeholder: "type a message",class: "text"}
        %label
          =fa_icon 'image'
          %input{type: "file",class: "file"}
      .content__main__form-send
        %input{type: "submit",value: "Send",class: "send"}
